.root_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .sidebar { display: none; }  /* hide it on small screens */
}

.vertical_align_text {
  display: flex;
  align-items: center;
  margin: 5px;
}
.vertical_align_text > * {
  margin: 5px;
}
.vertical_align_text:hover {
  background-color: yellow;
}